mat-toolbar {
  font-size: 2.5em;
  padding: 1.4em;
}
.contact_options{
  padding: 3em;
  font-size: 1.8em;
  i {
    color: #795548;
  }
  a{
    color: #795548;
    text-decoration: none;
  }
}
.cards_container{
  padding: 4em;
  padding-top: 2em;
  min-width: 100%;

}
