<section id="contact">
  <mat-toolbar color="primary" [ngStyle.lt-md]="{'margin-top.px': 80}">CONTACTO</mat-toolbar>
  <div class="contact_options" fxLayoutGap="1em" fxLayoutAlign="center start" fxLayout="column"
    [ngStyle.lt-md]="{'font-size.em': 1}">
    <div fxLayoutGap="1em">
      <i class="fas fa-envelope"></i><a
        href="mailto:pablohmartindev@gmail.com"><span>pablohmartindev@gmail.com</span></a>
    </div>
    <div fxLayoutGap="1em">
      <i class="fab fa-github"></i><span><a
          href="https://github.com/PabloHMartin">https://github.com/PabloHMartin</a></span>
    </div>
    <div fxLayoutGap="1em">
      <i class="fab fa-linkedin"></i><span><a href="https://www.linkedin.com/in/pablohmartin/">
          https://www.linkedin.com/in/pablohmartin/ </a></span>
    </div>
  </div>
</section>
