mat-toolbar {
  font-size: 2.5em;
  padding: 1.4em;
}
.cards_container{
  padding: 4em;
  padding-top: 2em;

}
mat-card{
  min-height: 150px;
  width: 300px;
  mat-card-title{
    font-weight: bold;
    color:#546E7A;
  }
}
