<section id="education" fxLayout="column">
  <mat-toolbar color="primary">EDUCACION</mat-toolbar>
  <div class="cards_container" fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="center center" fxLayoutGap="2em">
    <div fxFlex="1 1 100%" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center space-between"
      fxLayoutGap="1em">
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>CIFP Ponferrada</mat-card-title>
          <mat-card-subtitle>Técnico Superior en Desarrollo de Aplicaciones Web</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Desarrollo web</li>
            <li>Bases de datos</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>EOI Salamanca</mat-card-title>
          <mat-card-subtitle>Nivel avanzado II idioma inglés</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Título oficial que contempla las 4 skills del idioma</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="1 1 100%" fxLayout.lt-md="column" fxLayoutAlign="center space-between" fxLayoutGap="1em">
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>Escuela IT</mat-card-title>
          <mat-card-subtitle>Curso de Programación orientada a objetos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Principios de orientación a objetos</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>Escuela IT</mat-card-title>
          <mat-card-subtitle>Curso de Análisis y diseño orientado a objetos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Principios SOLID</li>
            <li>CLEAN CODE</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="1 1 100%" fxLayout.lt-md="column" fxLayoutAlign="center space-between" fxLayoutGap="1em">
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>Escuela IT</mat-card-title>
          <mat-card-subtitle>Curso de pruebas del software.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>JUNIT</li>
            <li>Test unitarios</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="1 1 100%">
        <mat-card-header>
          <mat-card-title>Escuela IT</mat-card-title>
          <mat-card-subtitle>Curso de Spring Framework</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Spring MVC</li>
            <li>Spring REST</li>
            <li>MAVEN</li>
            <li>JPA</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
