mat-toolbar {
  font-size: 2.5em;
  padding: 1.4em;
}
.cards_container{
  padding: 4em;
  padding-top: 2em;
}
mat-card{
  min-height: 400px;
  min-width: 350px;
  max-width: 350px;
  padding: 0px;
  margin-top: 20px;
}
mat-card-content{
  padding: 1.5em;
}
.title{
  color: #546E7A;
  font-weight: bold;
  font-size: 1.5em;
}
.description{
  font-size: 1.1em;
}
.image_container{
  min-height: 180px;
  max-height: 180px;

  img{

    max-width: 350px;
  }
}
.icon{
  font-size: 1.5em;
  color: #546E7A;
}
.text{
  font-size: 1.2em;
  padding-left: 0.5em;
}
.boton{
  padding: 1em;
}
a{
  text-decoration: none;
  color: #546E7A;
}
