<section id="about" fxLayout="row wrap">
  <mat-toolbar color="primary" fxFlex="1 1 100%" [ngStyle.lt-md]="{'margin-top.px': 80}">SOBRE MÍ</mat-toolbar>
  <div fxFlex="1 1 100%" gdAlignColumns="center start"
    [ngStyle]="{'padding.em': 6 ,'padding-top.em': 3 ,'padding-bottom.em': 3 , 'font-size.em': 1.4}"
    [ngStyle.lt-md]="{'padding.em': 2}" fxLayout="column" fxLayoutGap="2.5em">
    <div class="resaltado" fxLayout="row" fxLayoutGap="10px">
      <div class="separador" fxFlex="1 1 2%">
      </div>
      <div fxFlex="1 1 99%">
        Desarrollador comprometido con el proyecto y el equipo. Considero importantes tanto la calidad y legibilidad del
        código como el diseño de interfaces
      </div>

    </div>
    <div>
      <div>
        Siempre he querido dedicar mi carrera laboral a algo que me gustara hacer como hobby. Con el desarrollo de software lo he conseguido. Me gusta crear productos en los que creo y compartir el espacio de trabajo con personas que tengán afán de superarse día a día.
      </div> 
      <div></div>
      <div>
        <br/>
        Como desarrollador, me gusta profundizar en las tecnologías que utilizo y a su vez procuro conocer nuevas técnicas y framkeworks. Creo necesario el trabajo en equipo, por lo que la calidad del software debe ser la mejor. Términos como SOLID, UnitTests o Clean Code no me son desconocidos.
      </div>
    </div>
    <div>
      <span class="section_footer_title">Actuales intereses:</span><span> Angular, Ionic, Flutter, ReactiveX,
        Firebase</span>
    </div>
  </div>
</section>
