<section id="about" fxLayout="row wrap">
  <mat-toolbar color="primary" fxFlex="1 1 100%">SOBRE MI</mat-toolbar>
  <div fxFlex="1 1 100%" gdAlignColumns="center start" [ngStyle]="{'padding.em': 6 ,'padding-top.em': 3 ,'padding-bottom.em': 3 , 'font-size.em': 1.4}"
    fxLayout="column" fxLayoutGap="2.5em">
    <div class="resaltado" fxLayout="row" fxLayoutGap="10px">
      <div class="separador" fxFlex="1 1 2%">
      </div>
      <div fxFlex="1 1 99%">
        Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Eaque facilis animi
        quo molestiae
      </div>

    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odio porro aspernatur, vero iste et, dolores
      itaque, sint odit commodi delectus suscipit expedita. Assumenda quia inventore, repudiandae tempore perspiciatis
      repellendus.
    </div>
    <div>
      <span class="section_footer_title">Actuales intereses:</span><span> Angular, Flutter, ReactiveX,
        Firebase</span>
    </div>
  </div>
</section>
