<section fxLayout="column" fxLayoutAlign="strech center">
  <mat-toolbar color="primary" id="skills" [ngStyle.lt-md]="{'margin-top.px': 80}">SKILLS</mat-toolbar>
  <div class="cards_container" fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="center center" fxLayoutGap="2em">
    <mat-card fxFlex="1 1 100%" [ngStyle.lt-md]="{'max-width.%': 90}">
      <mat-card-header>
        <mat-card-title>
          FRONT-END
        </mat-card-title>
      </mat-card-header>
      <div>
        <mat-divider></mat-divider>
      </div>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="1em">
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/html5.png" alt="html5">
          <div>HTML 5</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/css3.png" alt="css3">
          <div>CSS 3</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/javascript.png" alt="css3">
          <div>JAVASCRIPT</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/bootstrap.png" alt="bootstrap">
          <div>BOOTSTRAP</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/angular.png" alt="angular">
          <div>ANGULAR</div>
        </div>

        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 90}" src="../../assets/angularmaterial.png" width="200px"
            alt="angular">
          <div>ANGULAR MATERIAL</div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="1 1 100%" [ngStyle.lt-md]="{'max-width.%': 90}">
      <mat-card-header>
        <mat-card-title>
          BACK-END
        </mat-card-title>
      </mat-card-header>
      <div>
        <mat-divider></mat-divider>
      </div>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="1em">
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img src="../../assets/spring.png" alt="spring" height="150px">
          <div>SPRING</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img src="../../assets/mysql.png" alt="mysql" height="150px">
          <div>MYSQL</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1 100%" [ngStyle.lt-md]="{'padding.em': 3}">
      <mat-card-header>
        <mat-card-title>
          HERRAMIENTAS
        </mat-card-title>
      </mat-card-header>
      <div>
        <mat-divider></mat-divider>
      </div>
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="1em">
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/github.png" alt="github">
          <div>GITHUB</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/photoshop.png" alt="photoshop">
          <div>PHOTOSHOP</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 75}" src="../../assets/adobe-xd.svg" alt="adobexd" width="200px"
            height="150px">
          <div>ADOBE XD</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 85}" src="../../assets/heroku.png" alt="heroku">
          <div>HEROKU</div>
        </div>
        <div class="logo_text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
          <img [ngStyle.lt-md]="{'max-width.px': 85}" src="../../assets/firebase.png" alt="firebase" height="150px">
          <div>FIREBASE</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
